BODY
{
	FONT-FAMILY: "ו";
	FONT-SIZE: 9pt;
	text-decoration: none;
	line-height: 150%;
	background-color: #FBFDFF;
}
TD
{
	FONT-FAMILY: "ו";
	FONT-SIZE: 9pt;
}
Input
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px;
}
Button
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px; 
}
Select
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px;
}
A
{
	TEXT-DECORATION: none;
	color: #000000;

}
A:hover
{
	COLOR: #428EFF;
	text-decoration: underline;

}
.title
{
	background:url(Images/topBar_bg.gif);
}
.border
{
	border: 1px solid #39867B;
}
.tdbg{
	background:#E1F4EE;
	line-height: 120%;
}
.topbg
{
	background:url(Images/topbg.gif);
	color: #FFFFFF;

}
